@inject ApiService ApiService
@inject NavigationManager navigationManager

<Modal @ref="confirmRoomRemoveModal" Title="Remove Room" Size="ModalSize.Regular">
    <HeaderTemplate>
        <h5 class="modal-title" id="AddRoomModalLabel">Remove Room</h5>
        <Button @onclick="() => confirmRoomRemoveModal.HideAsync()" Class="btn-close" />
    </HeaderTemplate>
    <BodyTemplate>
        @if (isRemovingRoom)
        {
            <div class="text-center my-3">
                <div class="spinner-border text-danger" role="status"></div>
                <div>Deleting room...</div>
            </div>
        }
        else
        {
            <p>Are you sure you want to delete this room?</p>
            <div class="d-flex justify-content-middle">
                <Button @onclick="() => confirmRoomRemoveModal.HideAsync()" Class="btn btn-cancel me-2">Cancel</Button>
                <Button Class="btn btn-danger" @onclick="HandleDeleteRoom" Loading="isRemovingRoom" LoadingText="Removing Device" Disabled="isRemovingRoom">Remove</Button>
            </div>
        }
    </BodyTemplate>
</Modal>

@code {
    [Parameter] public RoomGetResponse room { get; set; }
    public Modal confirmRoomRemoveModal = default!;
    public string? roomIdToRemove;
    public bool isRemovingRoom = false;

    public async Task OnShowModalClick()
    {
        roomIdToRemove = room.Id;
        await confirmRoomRemoveModal.ShowAsync();
        await InvokeAsync(StateHasChanged);
    }

    public async Task OnHideModalClick()
    {
        await confirmRoomRemoveModal.HideAsync();
    }

    public async Task HandleDeleteRoom()
    {
        isRemovingRoom = true;
        await InvokeAsync(StateHasChanged);
        try
        {
            if (!string.IsNullOrEmpty(roomIdToRemove))
            {
                var result = await ApiService.DeleteRoom(roomIdToRemove);

                roomIdToRemove = null;
                await confirmRoomRemoveModal.HideAsync();
                navigationManager.NavigateTo("/rooms");
            }
        }
        finally
        {
            isRemovingRoom = false;
        }
    }

}
