@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        @* <div class="typewriter-container d-flex justify-content-center align-items-center">
            <h1 class="typewriter text-white">Welcome!</h1>
        </div>

        <div class="text-center">
            <p class="d-inline text-white"><a href="/login" style="width: 4rem;">Sign in</a></p>
            <p class="d-inline text-white"><a href="/register" style="width: 4rem;">Sign up</a></p>
         </div>*@
         <FrontPage />
    </NotAuthorized>
</AuthorizeView>