@page "/devices"
@attribute [Authorize]

<MudFab Class="fab-be" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Href="/devices/add" Label="Add new" />

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Devices</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudDivider />
    <MudCardContent>
        <p>Device list W.I.P.</p>
    </MudCardContent>
</MudCard>