@inject IotDeviceService DeviceService

<EditForm Model="Device" OnValidSubmit="Submit
"><DataAnnotationsValidator />
    <DataAnnotationsValidator />
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3 mb-n1" />
                Edit Device Information
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudTextField Class="mt-1" Label="Name" @bind-Value="Device.Name" />
        </DialogContent>
        <DialogActions>
            <MudButton Disabled="loading" Color="Color.Primary" ButtonType="ButtonType.Submit">
                @if (loading)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <p Class="ms-2">Saving</p>
                }
                else
                {
                    <p>Save</p>
                }
            </MudButton>
            <MudButton Disabled="loading" OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public DeviceNameRequest Device { get; set; }

    private bool loading = false;

    private async void Submit()
    {
        loading = true;
        var result = await DeviceService.EditDeviceName(Device);
        if (result)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
        loading = false;
    }

    private void Cancel() => MudDialog.Cancel();
}