@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@* <table class="table">
    <thead>
        <tr>
            <th>Nøgle</th>
            <th>Værdi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in Configuration.AsEnumerable())
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </tbody>
</table> *@

<AuthorizeView>
    <Authorized>

        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Home</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudDivider />
            <MudCardContent>
                @foreach (var claim in context.User.Claims)
                {
                    <p>@claim.Type: @claim.Value</p>
                }
            </MudCardContent>
        </MudCard>

    </Authorized>
    <NotAuthorized>

        <MudContainer Class="px-0" MaxWidth="MaxWidth.ExtraSmall">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h4">Home</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudDivider />
                <MudCardContent>
                    <MudText>Story of the day</MudText>
                    <MudStack>
                        <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary">Sign in</MudButton>
                        <MudButton Href="/register" Variant="Variant.Filled" Color="Color.Primary">Sign up</MudButton>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudContainer>

    </NotAuthorized>
</AuthorizeView>