@page "/"

<AuthorizeView>
    <Authorized>

        <h1>Home</h1>

        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }

    </Authorized>
    <NotAuthorized>

        <MudContainer Class="px-0" MaxWidth="MaxWidth.ExtraSmall">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Home</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Story of the day</MudText>
                    <MudStack>
                        <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary">Sign in</MudButton>
                        <MudButton Href="/register" Variant="Variant.Filled" Color="Color.Primary">Sign up</MudButton>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudContainer>

    </NotAuthorized>
</AuthorizeView>