@inherits LayoutComponentBase

<AuthorizeView>
	<Authorized>
		<Navbar/>
	</Authorized>
</AuthorizeView>

<div class="background"></div>

<main>
	<AuthorizeView>
		<Authorized>
			<div class="container-xxl my-5">
				@Body
			</div>		
		</Authorized>
		<NotAuthorized>
			@Body
		</NotAuthorized>
	</AuthorizeView>


	<div id="blazor-error-ui">
		An unhandled error has occurred.
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>
</main>