<nav class="navbar navbar-dark sticky-top navbar-expand-sm bg-body-tertiary border-bottom shadow">
    <div class="container container-xxxl">
        <a class="navbar-brand p-0" href="/">
            <img src="images/logo.png" height="40" alt="Logo" />
        </a>
        <div>
            <button class="navbar-toggler" type="button" @onclick="OpenCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <NavbarCollapse @ref="collapse">
            <div class="navbar-nav me-auto">
                <div class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
                    <hr class="d-sm-none my-0 text-white-50">
                </div>
                <NavLink class="nav-item nav-link" href="/devices">
                    <Icon Name="IconName.Laptop" /> Devices
                </NavLink>
@*                 <NavLink class="nav-item nav-link" href="/rooms">
                    <Icon Name="IconName.HousesFill" /> Rooms
                </NavLink> *@
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="navbar-nav" >
                        <Dropdown Class="nav-item py-2 py-sm-0 d-none d-sm-block">
                            <DropdownToggleButton Class="nav-link p-0 border-0 logo-highlight">
                                <Icon Name="IconName.PersonVCardFill"/> Account
                            </DropdownToggleButton>
                            <DropdownMenu Position="DropdownMenuPosition.End">
                                <DropdownItem To="/account" Type="DropdownItemType.Link"><Icon Name="IconName.PersonFillGear" /> Settings</DropdownItem>
                                <DropdownDivider />
                                <DropdownItem To="/logout" Type="DropdownItemType.Link"><Icon Name="IconName.BoxArrowRight"/> Logout</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </div>
                </Authorized>
            </AuthorizeView>
        </NavbarCollapse> 
    </div>
</nav>

@code {
    private NavbarCollapse collapse;

    private async Task OpenCollapse()
    {
        Console.WriteLine(collapse);
        await collapse.Open();
    }
}