<nav class="navbar navbar-dark sticky-top navbar-expand-sm bg-body-tertiary border-bottom shadow">
    <div class="container container-xxxl">
        <a class="navbar-brand p-0" href="/">
            <img src="images/logo.png" height="40" alt="Logo" />    
        </a>
        <div>
            <button class="navbar-toggler" type="button" @onclick="OpenCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <NavbarCollapse @ref="collapse"> 
            <div class="navbar-nav me-auto">
                <div class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
                    <hr class="d-sm-none my-0 text-white-50">
                </div>
@*                 <AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="nav-item nav-link" href="/login">
                            <Icon Name="IconName.KeyFill" /> Sign in
                        </NavLink>
                    </NotAuthorized>
                    <Authorized>
                        <NavLink class="nav-item nav-link" href="/" Match="@NavLinkMatch.All">
                            <Icon Name="IconName.BorderStyle" /> Dashboard
                        </NavLink>
                        <NavLink class="nav-item nav-link" href="/logout">
                            <Icon Name="IconName.LockFill" /> Logout
                        </NavLink>
                    </Authorized>
                </AuthorizeView> *@
            </div>
        </NavbarCollapse> 
    </div>
</nav>

@code {
    private NavbarCollapse collapse;

    private async Task OpenCollapse()
    {
        Console.WriteLine(collapse);
        await collapse.Open();
    }
}