<nav class="navbar navbar-dark navbar-expand-sm bg-body-tertiary border-bottom shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="nav-item nav-link" href="/" Match="@NavLinkMatch.All">
                    <Icon Name="IconName.HouseFill" /> Home
                </NavLink>
                <NavLink class="nav-item nav-link" href="/login">
                    <Icon Name="IconName.KeyFill" /> Sign in
                </NavLink>
                <NavLink class="nav-item nav-link" href="/register">
                    <Icon Name="IconName.Clipboard2CheckFill"/> Sign up
                </NavLink>
                <NavLink class="nav-item nav-link" href="/logout">
                    <Icon Name="IconName.LockFill" /> Logout
                </NavLink>
            </ul>
        </div>
    </div>
</nav>