@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this page.</h3>
        <p>Please log in to access the content.</p>
        <a href="/signin">Login</a>
    </NotAuthorized>
</AuthorizeView>