<EditForm Model="passwordModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Key" Class="mr-3 mb-n1" />
                Change Password
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudTextField Class="mt-1" Label="Password" @bind-Value="passwordModel.Password" For="@(() => passwordModel.Password)" InputType="InputType.Password" />
            <MudTextField Class="mt-1" Label="Confirm Password" @bind-Value="passwordModel.ConfirmPassword" For="@(() => passwordModel.ConfirmPassword)" InputType="InputType.Password" />
        </DialogContent>
        <DialogActions>
            <MudButton Disabled="loading" Color="Color.Primary" ButtonType="ButtonType.Submit">
                @if (loading)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <p Class="ms-2">Confirming</p>
                }
                else
                {
                    <p>Confirm</p>
                }
            </MudButton>
            <MudButton Disabled="loading" OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private UserEditPasswordRequest passwordModel = new();
    private bool loading = false;

    private void Submit()
    {
        loading = true;
        // MudDialog.Close(DialogResult.Ok(true));
        loading = false;
    }

    private void Cancel() => MudDialog.Cancel();
}